for loop examples

In [ ]:
fruits=["apple" , "banana" , "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

the break statement

In [2]:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

the continue statement

In [4]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

the range() function

In [5]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [6]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [7]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

Else in for loop

In [8]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [9]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

nested loops

In [10]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

the while loop

In [11]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

the break statement in while loop

In [12]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

the continue statement in while loop

In [13]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

the else statement in while loop

In [14]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Examples of arithmetic operators

In [15]:

a = 9
b = 4

# Addition of numbers
add = a + b

# Subtraction of numbers
sub = a - b

# Multiplication of number
mul = a * b

# Division(float) of number
div1 = a / b

# Division(floor) of number
div2 = a // b

# Modulo of both number
mod = a % b

# Power
p = a ** b

# print results
print(add)
print(sub)
print(mul)
print(div1)
print(div2)
print(mod)
print(p)

13
5
36
2.25
2
1
6561

# Example of relational operators

In [16]:

a = 13
b = 33

# a > b is False
print(a > b)

# a < b is True
print(a < b)

# a == b is False
print(a == b)

# a != b is True
print(a != b)

# a >= b is False
print(a >= b)

# a <= b is True
print(a <= b)

False
True
False
True
False
True

# Examples of logical operators

In [17]:
# Examples of Logical Operator
a = True
b = False

# Print a and b is False
print(a and b)

# Print a or b is True
print(a or b)

# Print not a is False
print(not a)

False
True
False