<a href="https://colab.research.google.com/github/lipsapriya/python-code/blob/main/python_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#creating a set in python using curly braces

In [5]:
    Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}    
    print(Days)    
    print(type(Days))    
    print("looping through the set elements ... ")    
    for i in Days:    
        print(i)

{'Saturday', 'Thursday', 'Monday', 'Sunday', 'Wednesday', 'Tuesday', 'Friday'}
<class 'set'>
looping through the set elements ...
Saturday
Thursday
Monday
Sunday
Wednesday
Tuesday
Friday

#creating a set using set() method

In [6]:
    Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])    
    print(Days)    
    print(type(Days))    
    print("looping through the set elements ... ")    
    for i in Days:    
        print(i)

{'Saturday', 'Thursday', 'Monday', 'Sunday', 'Wednesday', 'Tuesday', 'Friday'}
<class 'set'>
looping through the set elements ...
Saturday
Thursday
Monday
Sunday
Wednesday
Tuesday
Friday

#python program to create a set which have immutable elements

In [7]:
set1 = {1,2,3, "JavaTpoint", 20.5, 14}  
print(type(set1))  
#Creating a set which have mutable element  
set2 = {1,2,3,["Javatpoint",4]}  
print(type(set2))

<class 'set'>

TypeError: ignored

#create a set in python using update() fuction

In [10]:
    Months = set(["January","February", "March", "April", "May", "June"])    
    print("\nprinting the original set ... ")    
    print(Months)    
    print("\nupdating the original set ... ")    
    Months.update(["July","August","September","October"]);    
    print("\nprinting the modified set ... ")     
    print(Months);

printing the original set ...
{'June', 'March', 'January', 'May', 'February', 'April'}

updating the original set ...

printing the modified set ...
{'June', 'March', 'August', 'January', 'May', 'February', 'July', 'September', 'October', 'April'}

#python all() function

In [11]:
    # all values true  
    k = [1, 3, 4, 6]  
    print(all(k))  
      
    # all values false  
    k = [0, False]  
    print(all(k))  
      
    # one false value  
    k = [1, 3, 7, 0]  
    print(all(k))  
      
    # one true value  
    k = [0, False, 5]  
    print(all(k))  
      
    # empty iterable  
    k = []  
    print(all(k))

True
False
False
False
True

#python bool()

In [13]:
    test1 = []  
    print(test1,'is',bool(test1))  
    test1 = [0]  
    print(test1,'is',bool(test1))  
    test1 = 0.0  
    print(test1,'is',bool(test1))  
    test1 = None  
    print(test1,'is',bool(test1))  
    test1 = True  
    print(test1,'is',bool(test1))  
    test1 = 'Easy string'  
    print(test1,'is',bool(test1))

[] is False
[0] is True
0.0 is False
None is False
True is True
Easy string is True

#python bin() function

In [12]:
    x =  10  
    y =  bin(x)  
    print (y)

0b1010

#python float function example

In [14]:
    # for integers  
    print(float(8))  
      
    # for floats  
    print(float(7.19))  
      
    # for string floats  
    print(float("-24.17"))  
      
    # for string floats with whitespaces  
    print(float("     -17.15\n"))  
      
    # string float error  
    print(float("xyz"))

8.0
7.19
-24.17
-17.15

ValueError: ignored

Explanation: In the above example, a number and a string value is being converted into a floating point number.

#python int() function

In [15]:
    # Python int() function example  
    # Calling function  
    val = int(10) # integer value  
    val2 = int(10.52) # float value  
    val3 = int('10') # string value  
    # Displaying result  
    print("integer values :",val, val2, val3)

integer values : 10 10 10

#python int() function

In [16]:
    # Python int() function example  
    # Declaring variables  
    val1 = 0b010 # binary   
    val2 = 0xAF  # hexadecimal  
    val3 = 0o10  # octal  
      
    # Calling int() function   
    val4 = int(val1)   
    val5 = int(val2)   
    val6 = int(val3)   
    # Displaying result  
    print("Values after conversion:",val4, val5, val6)  
    print("and types are: \n ", type(val4), type(val5), type(val6))

Values after conversion: 2 175 8
and types are:
  <class 'int'> <class 'int'> <class 'int'>