<a href="https://colab.research.google.com/github/lipsapriya/python-code/blob/main/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#python calender example

In [ ]:
# Python Calendar Example

# import calendar module
import calendar

# ask of month and year
year = int(input("Please Enter the year Number: "))
month = int(input("Please Enter the month Number: "))

# Displaying the Python calendar
print(calendar.month(year, month))

Please Enter the year Number: 2017
Please Enter the month Number: 3
     March 2017
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

#for loop example

In [ ]:
# Program to print squares of all numbers present in a list

# List of integer numbers
numbers = [1, 2, 4, 6, 11, 20]

# variable to store the square of each num temporary
sq = 0

# iterating over the given list
for val in numbers:
    # calculating square of each number
    sq = val * val
    # displaying the squares
    print(sq)

1
4
16
36
121
400

#nested for loop python

In [1]:
for num1 in range(3):
	for num2 in range(10, 14):
		print(num1, ",", num2)

0 , 10
0 , 11
0 , 12
0 , 13
1 , 10
1 , 11
1 , 12
1 , 13
2 , 10
2 , 11
2 , 12
2 , 13

#break statement

In [2]:
# program to display all the elements before number 88
for num in [11, 9, 88, 10, 90, 3, 19]:
   print(num)
   if(num==88):
	   print("The number 88 is found")
	   print("Terminating the loop")
	   break

11
9
88
The number 88 is found
Terminating the loop

#while loop

In [3]:
num = 1
# loop will repeat itself as long as
# num < 10 remains true
while num < 10:
    print(num)
    #incrementing the value of num
    num = num + 3

1
4
7

#creating a variable and assigning a value

In [6]:

name = "John"  # string assignment
age = 25  # integer assignment
salary = 25800.60  # float assignment

print(name)  # John
print(age)  # 25
print(salary)  # 25800.6

John
25
25800.6

#changing the value of a variable

In [7]:
var = 10
print(var)  # 10
# print its type
print(type(var))  # <class 'int'>

# assign different integer value to var
var = 55
print(var)  # 55

# change var to string
var = "Now I'm a string"
print(var)  # Now I'm a string
# print its type
print(type(var))  # <class 'str'>

# change var to float
var = 35.69
print(var)  # 35.69
# print its type
print(type(var))  # <class 'float'>

10
<class 'int'>
55
Now I'm a string
<class 'str'>
35.69
<class 'float'>

#integer variable

In [8]:
# create integer variable
age = 28
print(age)  # 28
print(type(age))  # <class 'int'>

28
<class 'int'>

#float variable

In [9]:
# create float variable
salary = 10800.55
print(salary)  # 10800.55
print(type(salary))  # <class 'float'>

10800.55
<class 'float'>

#complex type variable

In [10]:
a = 3 + 5j
print(a)  # (3+5j)
print(type(a))  # <class 'complex'>

(3+5j)
<class 'complex'>